<section>
	<br /><br /><br />
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<button data-bind="click: create" type="button" class="btn btn-success">Add New Category</button>
		</div>
		<div class="input-group col-md-4 col-xs-4 pull-right">
			<input data-bind="value: searchKey" type="text" class="form-control" placeholder="Search Category">
			<div class="input-group-btn">
				<button data-bind="click: refreshCategoryList" class="btn btn-default glyphicon glyphicon-search"></button>
			</div>
		</div>
	</div>
	<br />
	
	<div class="row">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
	</div>
	
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th>Name</th>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: categoryList, as: 'category' }">
    				<tr>
    					<td data-bind="text: category.name"></td>
    					<td>
    						<div class="pull-right">
    							<button data-bind="click: function() { $parent.edit(category.id) }" type="button" class="btn btn-warning btn-sm">Edit</button>
    							<button data-bind="click: function() { $parent.remove(category.id, category.name) }" type="button" class="btn btn-danger btn-sm">Remove</button>
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>
