<section>
	<br /><br /><br />
    <div class="row">
    	<div class="col-md-6">
    		<span data-bind="text: message"></span>
    	</div>
    	<div class="col-md-6">
    		<input type="text" data-bind="value: message" />
    		<button data-bind="click: buttonClicked" class="btn btn-primary">Click for the TRUTH</button>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-striped">
    			<thead>
    				<tr>
    					<td>Name</td>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: productList, as: 'product' }">
    				<tr>
    					<td data-bind="text: product.name"></td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>
