<div>
    <nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #FFFAFA" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-home"></i>
                <span>EVER</span>
            </a>
        </div>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div data-bind="foreach: router.navigationModel">
				<ul class="nav navbar-nav">
					<!-- ko if: $data.childRoutes === undefined && $data.parent === undefined -->
						<li data-bind="css: { active: isActive }">
		                    <a data-bind="attr: { href: hash }, html: title"></a>
		                </li>
					<!-- /ko -->
					<!-- ko if: $data.childRoutes !== undefined -->
						<li class="dropdown">
		        			<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span data-bind="text: title"></span><b class="caret"></b></a>
		        			<ul data-bind="foreach: childRoutes" role="menu" class="dropdown-menu">
		        				<li data-bind="css: { active: isActive }">
		        					<a data-bind="attr: { href: hash }, html: title"></a>
		        				</li>
		        			</ul>
		        		</li>
					<!-- /ko -->
	           	</ul>
			</div>
			
			<div class="nav navbar-nav navbar-right" style="padding-right:25px">
				<div>
					<a data-bind="click: userSettings" href="javascript:void(0)">
						<i class="fam-user-suit"></i>
						<span data-bind="text: user.fullName"></span>
					</a> | 
					<span data-bind="text: user.userType"></span> | 
					<a data-bind="click: logout" href="javascript:void(0)">
			        	<span>Logout</span>
			        </a>
				</div>				
	        </div>
        </div>
    </nav>

    <div class="container-fluid page-host" data-bind="router: { cacheViews: false }"></div>
</div>