<body>
	<br/><br/><br/><br/><br/>
	<div class="loginmodal-container">
		<h1>EVER Login</h1><br>
		
		<div data-bind="text: errorMessage" style="color:red"></div>
		
		<form>
			<input data-bind="textInput: username" class="autofocus" type="text" name="username" placeholder="Username" autofocus>
			<input data-bind="textInput: password" type="password" name="password" placeholder="Password">
			<input data-bind="click: login" type="submit" name="login" class="login loginmodal-submit" value="Login" />
		</form>
		
	  	<!-- <div class="login-help">
			<a href="#">Register</a> - <a href="#">Forgot Password</a>
	  	</div> -->
	</div>
</body>