<section>
	<br /><br /><br />
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<button data-bind="click: create" type="button" class="btn btn-success">Add New Purchase Order</button>
		</div>
		<form class="form-inline" role="form">
			<div class="input-group col-md-4 col-xs-4 pull-right">
				<div class="form-group">
					<select data-bind="options: companyList, optionsValue: 'id', optionsText: 'name', optionsCaption: '-- All Company --', value: companyId, event: { change: refreshPurchaseOrderList }" class="form-control" id="inputCompany"></select>
				</div>
			</div>
		</form>
	</div>
	<br />
	
	<div class="row">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
	</div>
	
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th>ID</th>
    					<th>Company</th>
    					<th>Creator</th>
    					<th>Total Amount</th>
    					<th>Status</th>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: purchaseOrderList, as: 'purchaseOrder' }">
    				<tr>
    					<td data-bind="text: purchaseOrder.id"></td>
    					<td>
    						<span data-bind="if: purchaseOrder.company">
    							<span data-bind="text: purchaseOrder.company.name"></span>
    						</span>
    					</td>
    					<td>
    						<span data-bind="if: purchaseOrder.creator">
    							<span data-bind="text: purchaseOrder.creator.lastName"></span><span>, </span><span data-bind="text: purchaseOrder.creator.firstName"></span>
    						</span>
    					</td>
    					<td>Php <span data-bind="text: purchaseOrder.totalAmount"></span></td>
    					<td data-bind="text: purchaseOrder.status"></td>
    					<td>
    						<div class="pull-right">
    							<a data-bind="click: function() { $parent.details(purchaseOrder.id) }" type="button" class="btn btn-info btn-sm">Details</a>
    							<button data-bind="click: function() { $parent.remove(purchaseOrder.id) }" type="button" class="btn btn-danger btn-sm">Remove</button>
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>
