<div id="divMoreModal" class="modal-content">
    <div class="modal-header">
        <h3 align="center">Details - <span data-bind="text: product.name"></span></h3> 
    </div>
    
    <div class="modal-body">
    	<dl class="dl-horizontal">
			<dt>ID:</dt>
			<dd data-bind="text: product.id"></dd>
			<dt>Barcode:</dt>
			<dd>2013(test)</dd>
			<dt>Category:</dt>
			<dd data-bind="text: product.category.name"></dd>
			<dt>Company:</dt>
			<dd data-bind="text: product.company.name"></dd>
    	</dl>
    	<hr>
    	<br>
    	<dl class="dl-horizontal">
			<dt>1 <span class="text-info">Case</span> @</dt>
			<dd>Php 25100</dd>
			<dt>Contains 50 <span class="text-info">Ream</span> @</dt>
			<dd>Php 502</dd>
			<dt>Contains 10 <span class="text-info">Pack</span> @</dt>
			<dd>Php 51</dd>
			<dt>Contains 20 <span class="text-info">Piece</span> @</dt>
			<dd>Php 2.75</dd>
    	</dl>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: cancel">Done</button>
    </div>
</div>