<section>
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<button data-bind="click: create" type="button" class="btn btn-success">Add New User</button>
		</div>
		<form class="form-inline" role="form">
			<div class="input-group col-md-4 col-xs-4 pull-right">
				<div class="form-group">
					<input data-bind="value: searchKey" size="45" type="text" class="form-control" placeholder="Search User">
				</div>
				<div class="form-group">
					<button data-bind="click: search" class="btn btn-default glyphicon glyphicon-search"></button>
				</div>
			</div>
		</form>
	</div>
	<br />
	
	<div class="row">
		<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-12"></div>
	</div>
	
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th>First Name</th>
    					<th>Last Name</th>
    					<th>Items per Page</th>
    					<th>Username</th>
    					<th>User Type</th>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: userList, as: 'user' }">
    				<tr>
    					<td data-bind="text: user.firstName"></td>
    					<td data-bind="text: user.lastName"></td>
    					<td data-bind="text: user.itemsPerPage"></td>
    					<td data-bind="text: user.username"></td>
    					<td data-bind="text: user.userType"></td>
    					<td>
    						<div class="pull-right">
    							<button data-bind="click: function() { $parent.edit(user.id) }" type="button" class="btn btn-warning btn-sm">Edit</button>
    							<button data-bind="click: function() { $parent.remove(user.id, user.username) }" type="button" class="btn btn-danger btn-sm">Remove</button>
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>
