${orderReceipt.pn}
${orderReceipt.formattedHeader}      
 ${orderReceipt.formattedDateTime}
 
 ${orderReceipt.customMessage}

 ${orderReceipt.orderNumber}
 ${orderReceipt.source}
 ${orderReceipt.patientNameAndCode}
 ${orderReceipt.patient.formattedSexDesc} - ${orderReceipt.patient.anonymousAge}Y DOB: ${orderReceipt.patient.stringBirthDate}
 ${orderReceipt.paymentMode}
 ${orderReceipt.dispatchMode}
 ${orderReceipt.clinician}
 ${orderReceipt.formattedRemarks}
==========================================

Item(s)                        Amount
#foreach( $item in $orderReceipt.orderItems )
 $item.transaction
#end
                            ----------
 Total Amount         ${orderReceipt.formattedTotalAmount} 
${orderReceipt.formattedCashDue}
  
==========================================
Encoder : ${orderReceipt.cashier}