${orderReceipt.formattedHeader} 
 ${orderReceipt.formattedDateTime}

 ${orderReceipt.formattedOrderNumber}
 ${orderReceipt.formattedCustomer}
 ${orderReceipt.formattedRemarks}
==========================================

 Total Amount         ${orderReceipt.totalAmount} 
${orderReceipt.formattedCashDue}
  
==========================================
Cashier : ${orderReceipt.cashier}