<br><br><br>
<pre>
Order ID: <span data-bind="text: customerOrderPageModel.customerOrderId" class="text-danger"></span>			Order Name: <span data-bind="text: customerOrderPageModel.customerOrderName" class="text-danger"></span>			Status:	<span data-bind="text: customerOrderPageModel.status" class="text-danger"></span></pre>

<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="text-center">Total Amount: <span class="label label-success">Php <span data-bind="text: customerOrderPageModel.totalAmount" ></span></span></h1>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-offset-1 col-md-1 col-xs-2">
		<button data-bind="click: search" type="button" class="btn btn-info"><span> </span><span class="glyphicon glyphicon-search"></span> Search </button>
	</div>
	<form class="form-inline" role="form">
		<div class="col-md-5 col-xs-6">
			<input data-bind="value: barcodeKey, hasFocus: barcodeFocus" type="text" size="30" class="form-control" placeholder="Input Barcode Here.......">
			<button data-bind="click: addItemByBarcode, visible: barcodeFocus" type="submit" class="btn btn-default glyphicon glyphicon-barcode"></button>
		</div>
	</form>
	<div data-bind="widget: { kind: 'pager', config: { numberOfPagesToShow: 5, itemsPerPage: itemsPerPage, totalItems: totalItems, currentPage: currentPage } }" class="col-md-5 col-xs-4"></div>
</div>

<div class="row">
   	<div class="col-md-12">
   		<table class="table table-hover">
   			<thead>
   				<tr>
   					<th class = "text-center col-md-1 col-xs-1">Quantity</th>
   					<th>Unit</th>
   					<th>Product Name</th>
   					<th class = "text-center">Unit Price</th>
   					<th class = "text-center">Total Price</th>
   				</tr>
   			</thead>
   			
   			<tbody data-bind="foreach: { data: customerOrderDetailList, as: 'orderDetail' }">
   				<tr>
   					<td class = "text-center"><input data-bind="value: orderDetail.quantity, event: { change: function() { $parent.changeQuantity(orderDetail.id, orderDetail.quantity) } }" type="text" size="5" class="form-control"></td>
   					<td data-bind="text: orderDetail.unitType"></td>
   					<td data-bind="text: orderDetail.productName"></td>
   					<td data-bind="text: orderDetail.unitPrice" class = "text-center"></td>
   					<td data-bind="text: orderDetail.totalPrice" class = "text-center"></td>
   					<td>
   						<div class="pull-right">
   							<button data-bind="click: function() { $parent.remove(orderDetail.id, orderDetail.quantity, orderDetail.productName, orderDetail.unitType) }" type="button" class="btn btn-danger btn-sm">Remove</button>
   						</div>
   					</td>
   				</tr>
   			</tbody>
   		</table>
   	</div>
   </div>

