<div id="divSearchDetailsModal" class="modal-content">
    <div class="modal-header">
        <h3 align="center">Select Unit Type - <span data-bind="text: productName"></span></h3>
    </div>
    
    <div class="modal-body">
    	<div class="row">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th>Unit</th>
    					<th class = "text-center">Unit Price</th>
    				</tr>
    			</thead>
    		
    			<tbody data-bind="foreach: { data: productDetailList, as: 'productDetail' }">
    				<tr data-bind="if: productDetail.quantity != 0">
    					<td data-bind="text: productDetail.unitType"></td>
    					<td data-bind="text: productDetail.sellingPrice" class = "text-center"></td>
    					<td>
    						<div class="pull-right">
    							<button data-bind="click: function() { $parent.add(productDetail.id) }" type="button" class="btn btn-info btn-sm">Add</button>
    						</div>
    					</td>
    				</tr>
    			</tbody>
    		</table>
		</div>
	</div>
	
	<div class="modal-footer">
        <button data-bind="click: cancel" class="btn btn-warning">Cancel</button>
    </div>
</div>